NODE_ENV="DEV"

DEV_URL="http://localhost"
DEV_PORT="8080"
DEV_CORS="http://localhost:3000"
DEV_PWD="123456"

PROD_URL="https://tacitus-wargaming-backend.onrender.com"
PROD_PORT="8080"
PROD_CORS="https://zippy-squirrel-fd05c1.netlify.app"
PROD_PWD="123456"
